      body{
            background-color: rgb(230, 214, 0)
      }
h1 {
    float: none;
    color: #3E3E3E;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
}
#texto {
    width: 98%;
    float: none;
    clear: none;
}
body p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 1rem;
}
.button {
    width: 10rem;
    height: 3rem;
    border-radius: 13px;
    background-color: #3E3E3E;
    color: #FFFFFF;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 1rem;
    border-width: 0px;
    float: left;
}
.input {
    font-size: 1rem;
}